<!DOCTYPE html>
<html>

  <head>
    <title>Running Lean | <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <input type="text" name="title" value="<%= title %>">
    <div><%= id %></div>

    <% Object.keys(fields).forEach(prop => {%>
    <div>
      <label><%= prop %></label>
      <input type="text" name="<%= prop %>" value="<%= fields[prop] %>">
    </div>
    <% }) %>

    <button id="rl-saveChanges">Save</button>

  </body>

  <script type="text/javascript" src="/javascripts/save-canvas.js"></script>

</html>
